@page
@model Mission9.Pages.PurchaseCompletedModel
@{
}


<div class="text-center">
    <h2>Thanks! Your purchase has been recorded!</h2>
    <a class="btn btn-secondary" asp-controller="Home" asp-action="DisplayBooks">Look at Books</a>
</div>