@{
}
@model BooksViewModel

<div class="row m-1 p-1">
    <div class="col-3">
        <h2>Books List</h2>
    </div>
</div>


<div class="row m-1 p-1">
    <div id="categories" class="col-3 text-center">
        <vc:categories></vc:categories>
    </div>

    @* Generate the Books with data *@
    <div class="col-9">
        @foreach (Book b in Model.Books)
        {
            <partial name="BookSummary" model="b" />
        }

        @* Generate pagination *@
        <div page-model="@Model.PageInfo" page-action="DisplayBooks" page-classes-enabled="true"
                page-class="btn" page-class-normal="btn-outline-dark"
                page-class-selected="btn-primary" class="btn-group pull-right m-1">
        </div>

    </div>
</div>
