@{
}
@model IEnumerable<string>


<div class="border border-dark p-2 rounded bg-dark">
    <div class="row m-1 p-1">
        <a asp-controller="Home" asp-action="Index" asp-route-projectType="" asp-route-pageNum="1" class="btn btn-block btn-secondary">Home</a>
    </div>

    @foreach (string t in Model)
    {
        <div class="row m-1 p-1">
            <a asp-controller="Home" asp-action="DisplayBooks" asp-route-bookCategory="@t" asp-route-pageNum="1"
                class="@(ViewBag.SelectedCategory == t ? "btn btn-block btn-primary" : "btn btn-block btn-secondary")">@t</a>
        </div>
    }
</div>